.chat-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: var(--neutral-color-700);
    position: relative;
    z-index: 0;
}

.chat-container {
    position: relative;
    top: 48px;
    left: 48px;
    height: calc(100vh - 48px);
    width: calc(100vw - 548px);
    display: flex;
    flex-direction: column;
}

.contact-chat-name {
    color: var(--neutral-color-100);
    background-color: var(--neutral-color-600);
    padding: 16px;
    width: 100%;
    position: sticky;
    top: 0;
}

.chat {
    padding: 8px 12px;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
