.message-label {
    display: none;
}

.new-message-form {
    display: flex;
    flex-direction: row;
    position: sticky;
    bottom: 0;
}

.message-input {
    border: none;
    padding: 12px;
    color: var(--neutral-color-100);
    background-color: var(--neutral-color-700);
    width: 100%;
    border-top-right-radius: 8px;
}

.message-input::placeholder {
    color: var(--neutral-color-200);
}

.message-input:focus {
    outline: none;
}

.send-button {
    border: none;
    background-color: var(--primary-color-200);
    border-radius: 32px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 12px;
}

.send-icon {
    color: var(--neutral-color-100);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
