.contact-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 8px;
    margin: 2px 0;
}

.selected {
    background-color: var(--neutral-color-500);
    border-radius: 6px;
}

.contact-item:hover {
    background-color: var(--neutral-color-600);
    border-radius: 6px;
}

.selected:hover {
    background-color: var(--neutral-color-400);
    border-radius: 4px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.contact-name {
    color: var(--neutral-color-100);
    font-size: 16px;
}

.last-message {
    font-weight: 400;
    color: var(--neutral-color-200);
}
