.whatsapp-icon {
    position: absolute;
    font-size: xx-large;
    top: 8px;
    left: 8px;
    color: var(--primary-color-100);
}

.app-title {
    position: absolute;
    font-size: medium;
    font-weight: 500;
    top: 13px;
    left: 44px;
    color: var(--neutral-color-100);
}
