* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-color-100: #1dab62;
    --primary-color-200: #005c4b;
    --neutral-color-100: #fff;
    --neutral-color-200: #d3d3d3;
    --neutral-color-300: #a1a1a1;
    --neutral-color-400: #474747;
    --neutral-color-500: #383838;
    --neutral-color-600: #2b2b2b;
    --neutral-color-700: #212121;
    --neutral-color-800: #000;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .contacts-list {
        width: calc(40% - 48px);
    }
    .chat-container {
        width: 60%;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .contacts-list {
        width: 40%;
        border-radius: 0;
        left: 0;
    }
    .chat-container {
        width: 65%;
        left: 0;
    }
}

@media screen and (max-width: 480px) {
    .contacts-list {
        width: 37%;
        left: 0;
        border-radius: 0;
    }
    .chat-container {
        width: 65%;
        left: 0;
    }

    .search-contact-input {
        display: none;
    }
}
