* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-color-100: #1dab62;
    --primary-color-200: #005c4b;
    --secondary-color-100: #ca0101;
    --secondary-color-200: #52bdeb;
    --neutral-color-100: #fff;
    --neutral-color-200: #d3d3d3;
    --neutral-color-300: #a1a1a1;
    --neutral-color-400: #525252;
    --neutral-color-450: #454545;
    --neutral-color-500: #474747;
    --neutral-color-600: #383838;
    --neutral-color-700: #2b2b2b;
    --neutral-color-800: #212121;
    --neutral-color-900: #000;
}
