.contacts-list {
    position: relative;
    top: 48px;
    left: 48px;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    background-color: #2b2b2b;
    border-top-left-radius: 8px;
    padding: 16px;
}
