.time {
    font-size: 10px;
    color: var(--neutral-color-200);
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.message {
    max-width: 70%;
    padding: 8px 12px;
    border-radius: 8px;
    word-wrap: break-word;
    line-height: 20px;
}

.message-left {
    background-color: var(--neutral-color-600);
    align-self: flex-start;
}

.message-left .status {
    display: none;
}

.message-rigth {
    background-color: var(--primary-color-200);
    align-self: flex-end;
}

.text {
    color: var(--neutral-color-100);
}

.delete-button {
    background-color: var(--neutral-color-100);
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    padding: 4px;
}

.delete-icon {
    color: var(--secondary-color-100);
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message:hover .delete-button {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.message-metadata {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
}

.read-icon {
    color: var(--secondary-color-200);
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.sended-icon {
    color: var(--neutral-color-300);
    font-size: 18px;
    display: flex;
    justify-content: end;
}

.no-messages {
    background-color: var(--neutral-color-500);
    color: var(--neutral-color-100);
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    width: 40%;
    margin: 0 auto;
    margin-top: 24px;
}
